html{
    zoom: 90%
}

body{
    margin: 0;
    padding: 0;
    font-family: candara;
    background: #E5E5E5
}
.nav-bar{        
   
    margin: 0 0px 0 0px;
    /* margin-left: 2px; */
    padding: 20px 0px 20px 50px;
    position: fixed;  
    top: 0px;
    left: 0px;
    right: 0px;     
    font-size: 18px;
    background: #221C23;      
 }


 
 .nav-item{       
    color: white;
    margin-right: 50px;
    text-decoration: none;
 }



.dot{
    display: none !important;
    color: white ;
}

 .button{
    background-color: #00AAFF;
    color: white;
    border: 2px solid #00AAFF;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 1s;
    border-radius: 52px; }
    

.button:hover{
    color: #00AAFF;
    background: white;
    border: 2px solid #00AAFF;
    padding: 5px;
    text-decoration: none;
    border-radius: 52px; 
    transition-duration: 1s;

}

.zuri-welcome-image{
    background: url("../img/zuri_landing.jpeg") no-repeat fixed;
    background-size: cover;
    min-height: 700px; 
    color: white;  
    display: flex;
    padding-top:197px
}

.explore{
    flex: 1;
    /* border: 2px solid #00AAFF; */
    margin-right: 20px;
    margin-left:107px
}


.welcome-form{
    
    margin-right:107px;
    flex: 1;   
    /* padding: 0px 0px 0px 300px; */
    text-align: center;
    /* border: 2px solid #00AAFF; */
    /* margin: 45px 50px 1050px 0; */
    
}


.actual-form{
    float: right;
    background: white;
    text-align: center;
    padding: 10px 0 20px 0;
   border-radius: 24px;
   width: 400px;
   max-width: 400px;

}
.actual-form input{
    color: #9FA2A4;
    margin-top: 30px;
    width: 300px;
    min-height: 10px;
    border-right: none;
    border-left: none;
    border-top: none;
    padding: 0 0 10px 10px;    
    transition:  border-bottom 0.5s


}

.actual-form input:focus{
    outline: none;
    border-bottom: 3px solid #00AAFF;
    /* transition-duration: 1s; */

}


.welcome{
    font-weight:700;
    font-size: 50px;
    
}

.from{
    font-size:24px;
    font-weight: 400
}


.learn:last-child{
    font-size:20px;
    font-weight: 700;
   padding: 5px;
    cursor: pointer;
}



.main{
   text-align: center;
}

.zuri-message{
    margin-top: 20px;    
    display: flex;    
    justify-content: center;
    align-items: center;
}

.zuri-training{
    float: left;
    width: 26.7%;
    font-size: 20px;
    font-weight: 400;
    padding: 0 10px;
    border-right: 2px solid black;
}


.zuri-training:after{
    content: "";
    display: table;
    clear:both
}

.zuri-training:last-child{
    border-right: none

}

.join-us{
    background: #00AAFF;
    /* display: flex;    
    justify-content: center;
    align-items: center; */
    color:white;
    font-weight: 700;
    margin: 50px 0 50px 0;
    padding: 30px 0 30px 0
    
}

.form{
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0px;
}

.form input{
    margin-right: 20px;
    width: 300px;
    height: 40px;
    border-radius: 18px;
    border: 2px solid black;

    padding-left: 10px;
}



button{
    width: 200px;
    height: 40px;
    font-size: 19px;
    font-weight: 200;
}

  footer{
      background: #221C23;
      color: white;
      margin-top: 50px;    
      display: flex;    
      justify-content: center;
      align-items: center;
      padding: 60px 0 60px 0;
  }

footer div{
    float:left;
    margin-right:50px;
    /* font-weight: 700; */
    font-size: 20px;
    margin-right: 200px
}

footer div:last-child{
    margin-right: 0px
}

footer div:first-child{
    font-weight: 700;
    font-size: 30px;
}



@media screen and (max-width:1207px) {
.welcome-form{
    display:none
}
}
@media screen and (max-width:1022px) {
    .zuri-training{
       float: none;       
        width: 80%;
        margin:0 5px 10px 5p;
        padding: 0 0px;
        border-right: none;
        border-bottom: 1px solid black;


    }
    .zuri-message{
    display: block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
   

}

.join-us span{
    font-size: 20

}


.join-us i{
    font-size: 18

}

.form{
    display:block;
  
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
}



.form input{
    display: block;        
    width: 65%;
    margin:0 17.5% 20px 17.5%;
    padding-left: 10px;
   
}

footer{   
    display: block;     
    margin-bottom: 0px;    
    margin-right: auto;
    margin-left: auto;
    padding:  0;
    font-size: 16px;

}

footer div{
  float:none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  margin-bottom:20px;
  
}

footer div:last-child{
margin-bottom: 0
}

.nav-bar{
    padding: 5px;
}

.main span :first-child{
    font-size: 20;
}

.main span :nth-child(2){
    font-size: 18;
}

.nav-bar .right{
    display: none;
}

.dot{
    float:right;
    color:white 
}


.welcome{
    font-size: 30px;
    font-weight: 700;

}
.from{
    font-size: 20px;
    font-weight: 500;
}

.learn{
    font-size: 30px;
    font-weight: 700;
}

}